# === API KEYS ===
WEBRISK_API_KEY=YOUR_WEBRISK_API_KEY_HERE
VT_API_KEY=YOUR_VIRUSTOTAL_API_KEY_HERE
GOOGLE_AI_API=YOUR_GOOGLE_AI_API_KEY_HERE

# === DATABASE ===
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=phishing_db
POSTGRES_PORT=5432
# Number of days after which records are considered expired
EXPIRED_DAYS=7

# === HISTORY SERVICE ===
# url to connect to the postgres database, depends on the docker-compose service name for the db
HISTORY_DATABASE_URL=postgresql://postgres:postgres@db:5432/phishing_db
HISTORY_SERVICE_HOST=0.0.0.0
HISTORY_SERVICE_PORT=8005
HISTORY_CONTAINER_NAME=history-service

# === PGADMIN SETTINGS ===
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin

# === THREAT INTEL ===
THREAT_INTEL_HOST=0.0.0.0
THREAT_INTEL_PORT=8001
THREAT_INTEL_CONTAINER_NAME=threat-intel

# === DOMAIN ANALYZER SERVICE ===
DOMAIN_ANALYZER_HOST=0.0.0.0
DOMAIN_ANALYZER_PORT=8002
DOMAIN_ANALYZER_CONTAINER_NAME=domain-analyzer

# === CONTENT ANALYZER SERVICE ===
CONTENT_ANALYZER_HOST=0.0.0.0
CONTENT_ANALYZER_PORT=8003
CONTENT_ANALYZER_CONTAINER_NAME=content-analyzer
# fetch options
PAGE_FETCH_TIMEOUT=10
# model options
GOOGLE_AI_MODEL=gemini-2.5-flash-lite

# === BEHAVIOR ANALYZER SERVICE ===
BEHAVIOR_ANALYZER_HOST=0.0.0.0
BEHAVIOR_ANALYZER_PORT=8004
BEHAVIOR_ANALYZER_CONTAINER_NAME=behavior-analyzer
# fetch options
MAX_ATTEMPTS=1
PAGE_LOAD_TIMEOUT=15
SCRIPT_TIMEOUT=10
IMPLICIT_WAIT=10
# analysis options
THRESHOLD_DOM_CHANGE=50
HEADLESS=True

# === RISK AGGREGATOR SERVICE ===
RISK_AGGREGATOR_CONTAINER_NAME=risk-aggregator
RISK_AGGREGATOR_HOST=0.0.0.0
RISK_AGGREGATOR_PORT=8000
# redirect options, max depth of checking
NUM_REDIRECTS=2
# weights for each analyzer fro final risk score calculation
THREAT_INTEL_WEIGHT=0.15
DOMAIN_ANALYZER_WEIGHT=0.15
CONTENT_ANALYZER_WEIGHT=0.3
BEHAVIOR_ANALYZER_WEIGHT=0.4

# === UI SERVICE ===
UI_SERVICE_CONTAINER_NAME=ui-service
UI_SERVICE_HOST=0.0.0.0
UI_SERVICE_PORT=80
